.main {
  background-color: rgb(188, 188, 234);
  margin-top: 10%;
}
.main-container {
  margin-top: 8%;
  padding: 2%;
  overflow: hidden;
  width: 90vw;
  min-height: 90vh;
  z-index: 1;
}

img {
  border-radius: 10px;
  margin: 1%;
}
.imgs {
  display: flex;
  flex-direction: column;
}
.basic-info {
  padding: 1%;
}
h1 {
  font-size: 1rem;
}
